/*Common*/
@import "common/variables";
@import "common/mixins";
@import "common/common";

/*Tools*/
@import "tools/sprite";
@import "tools/fancybox";
@import "tools/bootstrap";

/*Modules*/
@import "../node_modules/normalize-scss/sass/normalize";
@import "../node_modules/slick-carousel/slick/slick.scss";

/*Components*/
@import "components/menu";
@import "components/components.hamburger";
@import "components/map";
@import "components/slider";

@import "header";
@import "main";
@import "aside";
@import "footer";




